@model IEnumerable<TechMoves.ViewModels.ServiceRequestViewModel>

@{
    ViewData["Title"] = "Service Requests";
}

<h1>Service Requests</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Contract</th>
            <th>Description</th>
            <th>Cost (USD)</th>
            <th>Cost (ZAR)</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ServiceRequest.ContractId
                </td>

                <td>
                    @item.ServiceRequest.Description
                </td>

                <td>
                    @item.ServiceRequest.Cost
                </td>

                <td>
                    @item.CostInZar.ToString("0.00")
                </td>

                <td>
                    @item.ServiceRequest.Status
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.ServiceRequest.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ServiceRequest.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ServiceRequest.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>